---
id: extension-marketplace-verification
title: Partner Verification Process
sidebar_label: Verification Process
---

Once a markeplace verification request is created, all network fees are verified, and the request is relayed to the partner, the url to access the verification process provided by the partner is displayed to the end user.  From there, the user simply clicks the link to begin the verification process with that marketplace partner.

### Verification Workflow with Bridge Protocol Corporation
All Bridge Marketplace partners are free to use whatever workflow they choose to perform their verification services, so
the workflow will vary. The following process will demonstrate the workflow required to do Basic KYC Verification using
the Bridge Protocol Corporation verification provider on the Bridge Network.

#### 1. Login with your passport

<img class='centered' src='/img/extension/verification/verification_site_login.jpg'></img>

#### 2. Select your desired verification service(s)

<img class='centered' src='/img/extension/verification/verification_site_serviceselect.jpg'></img>

#### 3. Make the token payment for service fees

<img class='centered' src='/img/extension/verification/verification_site_paymentrequest.jpg'></img>

#### 4. Enter your 4-mail address to continue

<img class='centered' src='/img/extension/verification/verification_site_start.jpg'></img>

#### 5. Create a personal access code

<img class='centered' src='/img/extension/verification/verification_site_accesscode.jpg'></img>

#### 6. Agree to the identity verification terms of service

<img class='centered' src='/img/extension/verification/verification_site_tos.jpg'></img>

#### 7. Verify your e-mail address

<img class='centered' src='/img/extension/verification/verification_site_emailverify.jpg'></img>

#### 8. Capture your identification document

<img class='centered' src='/img/extension/verification/verification_site_idcapture.jpg'></img>

#### 9. Enter or verify your personal information

<img class='centered' src='/img/extension/verification/verification_site_personalinfo.jpg'></img>

#### 10. Capture your portrait / selfie photo

<img class='centered' src='/img/extension/verification/verification_site_camcapture.jpg'></img>

#### 11. Verify all steps are complete and submit the check for verification

<img class='centered' src='/img/extension/verification/verification_site_allcomplete.jpg'></img>

### Retrieving Verification Status
After completing the verification process, you will see a verification request status information page. To view this at any
time after enrollment, simply click the verification partner link in the verification request in your passport.

<img class='centered' src='/img/extension/verification/verification_site_complete.jpg'></img>

### Viewing Verification Results
If the verification request is complete, a link will appear next to the status to allow you to see the information that was
successfully verified. Simply click the link next to the status to see your verified claims and <a href='extension-using#importing-claims'>import claims</a> to your passport.

<img class='centered' src='/img/extension/verification/verification_site_verifiedclaims.jpg'></img>
