---
id: extension-marketplace-verification
title: Verification Process
sidebar_label: Verification Process
---

<img class='centered' src='/img/extension/verification/verification_site_login.jpg'></img>

<img class='centered' src='/img/extension/verification/verification_site_serviceselect.jpg'></img>

<img class='centered' src='/img/extension/verification/verification_site_paymentrequest.jpg'></img>

<img class='centered' src='/img/extension/verification/verification_site_start.jpg'></img>

<img class='centered' src='/img/extension/verification/verification_site_accesscode.jpg'></img>

<img class='centered' src='/img/extension/verification/verification_site_tos.jpg'></img>

<img class='centered' src='/img/extension/verification/verification_site_emailverify.jpg'></img>

<img class='centered' src='/img/extension/verification/verification_site_idcapture.jpg'></img>

<img class='centered' src='/img/extension/verification/verification_site_idcapture_qrcode.jpg'></img>

<img class='centered' src='/img/extension/verification/verification_site_personalinfo.jpg'></img>

<img class='centered' src='/img/extension/verification/verification_site_camcapture.jpg'></img>

<img class='centered' src='/img/extension/verification/verification_site_allcomplete.jpg'></img>

<img class='centered' src='/img/extension/verification/verification_site_complete.jpg'></img>

<img class='centered' src='/img/extension/verification/verification_site_verifiedclaims.jpg'></img>
